 @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 html{
    font-size: 62.5%;
 }
 body{
    background-color: #ce796b;
    font-family: 'Roboto Condensed', sans-serif;
 }
 a{
    all:unset
 }

 .main{
    height: 100vh;
    width: 100ww;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .bcard{
    width: 31.7rem;
    margin: 1rem;
 }
 /* Header Styles */